*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;   
    background-color: #4158D0;
    background: linear-gradient(135.8deg, rgb(26, 26, 29) 27.1%, rgb(125, 17, 120) 77.5%);
    color: white;
    filter: drop-shadow(0 10px 10px  rgba(255, 255, 255, 0.285));
}
input{
    border: none;
    outline: none;
}
button{
    height: 35px ;
    width: 35px;
    padding: 10px;
    border: none;border-radius: 50%;; color: black;font-size: 17px; text-align: center; display: flex; justify-content: center; align-items: center
}