@font-face {
    font-family: 'Instrument Sans SemiCondensed';
    src: url('../fonts/InstrumentSansSemiCondensed-Regular.woff2') format('woff2'),
        url('../fonts/InstrumentSansSemiCondensed-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Instrument Sans SemiCondensed';
    src: url('../fonts/InstrumentSansSemiCondensed-MediumItalic.woff2') format('woff2'),
        url('../fonts/InstrumentSansSemiCondensed-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Instrument Sans SemiCondensed';
    src: url('../fonts/InstrumentSansSemiCondensed-SemiBold.woff2') format('woff2'),
        url('../fonts/InstrumentSansSemiCondensed-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Instrument Sans';
    src: url('../fonts/InstrumentSans-Regular.woff2') format('woff2'),
        url('../fonts/InstrumentSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Instrument Sans';
    src: url('../fonts/InstrumentSans-Bold.woff2') format('woff2'),
        url('../fonts/InstrumentSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Instrument Sans SemiCondensed';
    src: url('../fonts/InstrumentSansSemiCondensed-SemiBoldItalic.woff2') format('woff2'),
        url('../fonts/InstrumentSansSemiCondensed-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Instrument Sans';
    src: url('../fonts/InstrumentSans-Medium.woff2') format('woff2'),
        url('../fonts/InstrumentSans-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Instrument Sans';
    src: url('../fonts/InstrumentSans-MediumItalic.woff2') format('woff2'),
        url('../fonts/InstrumentSans-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Instrument Sans';
    src: url('../fonts/InstrumentSans-Italic.woff2') format('woff2'),
        url('../fonts/InstrumentSans-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Instrument Sans';
    src: url('../fonts/InstrumentSans-BoldItalic.woff2') format('woff2'),
        url('../fonts/InstrumentSans-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Instrument Sans Condensed';
    src: url('../fonts/InstrumentSansCondensed-Italic.woff2') format('woff2'),
        url('../fonts/InstrumentSansCondensed-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Instrument Sans';
    src: url('../fonts/InstrumentSans-SemiBoldItalic.woff2') format('woff2'),
        url('../fonts/InstrumentSans-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Instrument Sans Condensed';
    src: url('../fonts/InstrumentSansCondensed-Bold.woff2') format('woff2'),
        url('../fonts/InstrumentSansCondensed-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Instrument Sans Condensed';
    src: url('../fonts/InstrumentSansCondensed-Medium.woff2') format('woff2'),
        url('../fonts/InstrumentSansCondensed-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Instrument Sans Condensed';
    src: url('../fonts/InstrumentSansCondensed-MediumItalic.woff2') format('woff2'),
        url('../fonts/InstrumentSansCondensed-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Instrument Sans';
    src: url('../fonts/InstrumentSans-SemiBold.woff2') format('woff2'),
        url('../fonts/InstrumentSans-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Instrument Sans Condensed';
    src: url('../fonts/InstrumentSansCondensed-BoldItalic.woff2') format('woff2'),
        url('../fonts/InstrumentSansCondensed-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Instrument Sans Condensed';
    src: url('../fonts/InstrumentSansCondensed-SemiBoldItalic.woff2') format('woff2'),
        url('../fonts/InstrumentSansCondensed-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Instrument Sans Condensed';
    src: url('../fonts/InstrumentSansCondensed-Regular.woff2') format('woff2'),
        url('../fonts/InstrumentSansCondensed-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Instrument Sans Condensed';
    src: url('../fonts/InstrumentSansCondensed-SemiBold.woff2') format('woff2'),
        url('../fonts/InstrumentSansCondensed-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Instrument Sans SemiCondensed';
    src: url('../fonts/InstrumentSansSemiCondensed-Bold.woff2') format('woff2'),
        url('../fonts/InstrumentSansSemiCondensed-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Instrument Sans SemiCondensed';
    src: url('../fonts/InstrumentSansSemiCondensed-Italic.woff2') format('woff2'),
        url('../fonts/InstrumentSansSemiCondensed-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Instrument Sans SemiCondensed';
    src: url('../fonts/InstrumentSansSemiCondensed-BoldItalic.woff2') format('woff2'),
        url('../fonts/InstrumentSansSemiCondensed-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Instrument Sans SemiCondensed';
    src: url('../fonts/InstrumentSansSemiCondensed-Medium.woff2') format('woff2'),
        url('../fonts/InstrumentSansSemiCondensed-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

